.wix-madefor-display {
  font-family: "Wix Madefor Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

* {
  margin: 0;
  font-family: "Wix Madefor Display";
}

:root {
  --blue-grey: rgba(43, 49, 55, 1);
  --near-black: rgba(28, 28, 28, 1);
  --main-blue: rgba(46, 48, 71, 1);
  --deep-blue: rgba(16, 18, 36, 1);
  --off-white: rgba(255, 252, 247, 1);
  --purple-accent: rgba(144, 65, 228, 0.8);
}

body {
  background-color: var(--near-black);
  color: var(--off-white);
  overflow-x: hidden;
}

.auth-pages {
  display: flex;
  flex-direction: column;
  height: 100vh;

  gap: 4%;
}

.page {
  margin-top: 8%;
  margin-left: 21%;
  min-height: 100vh;
  height: 100vh;
}

.input {
  width: 95%;
  height: 40%;
  border-radius: 15px;
  padding: 0% 4%;
  border: 2px solid rgba(0, 0, 0, 0); /* Transparent to prevent offset when focused. */
  margin: 2% 0%;

  transition-duration: 0.6s;
}
.input:focus {
  outline: 4px solid var(--purple-accent);
  box-shadow: 0 0 5px 5px var(--purple-accent);
  border: 2px solid white;
}

.input-section {
  width: 30%;
  height: 10%;
}

.submit-button {
  width: 20%;
  height: 5%;
  border-radius: 5px;
  border: none;
}
