.connection {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  gap: 1%;
  padding: 1% 2%;
  border-radius: 10px;
  border: 2px solid black;
  width: 80%;
  margin-top: 1%;
  transition-duration: 1s;
}
.connection:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}

.connections-section {
  margin-top: 3%;
}

.connect-button {
  margin-right: 0px;
  padding: 1%;
  width: 10%;
  height: 5%;
  align-self: center;
  border-radius: 10px;
  border: none;
}
