:root {
  --deep-purple: rgba(15, 5, 41, 1);
}

.nav-bar {
  position: absolute;
  width: 90%;
  margin-left: 10%;
  height: 10%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  top: 0;
  left: 0;
  background-color: rgb(18, 18, 18);
  z-index: -1;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0%;
  left: 0%;
  padding: 2% 4% 2% 2%;
  background-color: rgba(18, 18, 18);
  overflow: hidden;
  width: 10%;
  height: 100%;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
}

.sync-logo {
  align-self: left;
  width: 3vw;
  border-radius: 10px;
  margin-bottom: 30%;
}

.sidebar-link {
  display: flex;
  flex-direction: row;
  padding: 20% 0%;
  align-items: center;
  width: 100%;
}
.sidebar-link:hover {
  cursor: pointer;
}

.home-sidebar-icon {
  margin-right: 10%;
}

.profile-sidebar-icon {
  margin-right: 15%;
}

.connections-sidebar-icon {
  margin-right: 10%;
}

.divider {
  height: 0;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
}

.logout-sidebar-icon {
  margin-right: 11%;
}
