:root {
  --deep-purple: rgba(15, 5, 41, 1);
}

.sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 6%;
  left: 0%;
  padding: 2% 4% 2% 2%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  width: 6%;
}

.sync-logo {
  align-self: left;
  width: 3vw;
  border-radius: 10px;
  margin-bottom: 30%;
}

.sidebar-link {
  display: flex;
  flex-direction: row;
  padding: 20% 0%;
  align-items: center;
  width: 100%;
}
.sidebar-link:hover {
  cursor: pointer;
}

.home-sidebar-icon {
  margin-right: 20%;
}

.profile-sidebar-icon {
  margin-right: 24%;
}

.connections-sidebar-icon {
  margin-right: 16%;
}

.logout-sidebar-icon {
  margin-right: 21%;
}
