.homepage {
  display: flex;
  flex-direction: row;
}

.feed {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  z-index: 1;
}

.home-page {
  display: flex;
  flex-direction: column;
  z-index: 0;
  align-items: center;
  justify-self: center;
  width: 70%;
  margin: 5% 4%;
}

.modal {
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin: 5% 2% 5% 2%;
  width: 40%;
  padding: 4%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.connection-requests {
  width: 20%;
}

.home-feed-background {
  z-index: 0;
  position: absolute;
  left: 30%;
  width: 40%;
}

.recommended-feed-background {
  z-index: -1;
  position: absolute;
  left: 30%;
  width: 40%;
}

.post-button {
  position: fixed;
  top: 60%;
  left: 2%;
  width: 12%;
  height: 5%;
  color: white;
  background-color: var(--purple-accent);
  border-radius: 5px;
  outline: none;
  border: none;
  transition-duration: 1s;
}
.post-button:hover {
  cursor: pointer;
  background-color: rgb(118, 30, 212);
}

.home-tab-header {
  position: absolute;
  left: 23.4%;
  z-index: 1;
}

.recommended-tab-header {
  position: absolute;
  left: 50%;
  z-index: 1;
}

.header {
  border: 1px solid transparent;
  transition-duration: 1s;
}
.header:hover {
  cursor: pointer;
  border: 1px solid white;
}

.modal-input {
  padding: 2% 10%;
  width: 75%;
}

.active-tab {
  z-index: 0;
}

.hide {
  display: none;
  position: absolute;
  left: 100%;
}

.show {
  display: block;
}
